@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


/* header section style */

header{
    background-color: rgba(255, 144, 14, 0.10);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 220px;
    text-align: center;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul li {
    margin-left: 30px;
}

nav >ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

.agritect-head {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.brand-new {
    /* width: 862px; */
    text-align: center;
    margin: 10px auto;
}





.brand-new h1{
    color:  #131313;
    font-size: 64px;
    font-weight: 700;
}

.brand-new {
    width: 100%;
}
.brand-new *{
    margin-bottom: 10px;
}
.brand-new p{
    color:  #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.btn-primary{
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FF900E;
    border: 0;
    cursor: pointer;
}


.brand-banner {
    text-align: center;
    padding-bottom: 45px;
    
}




    /* main container start */
    /* our feature style start */

.container {
    width: 76%;
    max-width: 1460px;
    margin: 0 auto;
    
}


.our-divided {
    display: flex;
    align-items: center;
    margin-top: 85px;
    padding-left: 70px;
    padding-right: 70px;
}


.team-feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-feature {
    
    padding-left: 70px;
    padding-right: 70px;
}

.our-feature * {
    margin-bottom: 25px;
}

.our-feature p{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.our-feature .qucik {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.our-feature .our {
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}

.our-feature .feature {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}






    /* feature enjoy style */


.feature-enjoy {
    display: flex;
    margin-top: 8rem;
    align-items: center;

}



.feature-enjoy h1{
    color:  #131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 4px solid #FF900E;
    padding-left: 10px;
}

.feature-enjoy .feature-description{
    color: #727272;
    font-weight: 400;
    margin-top: 25px;
}




.feature-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 40px 30px;
    margin-top: 30px;
}


.feature-card h3{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-card p{
    color:#727272;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 520px;
}


.feature-content {
    margin-top: 50px;
}


.feature-enjoy .feature-img img{
    padding-left: 120px;
}

.year-experience {
    background-color: #FF900E;
    text-align: center;
    padding: 50px;
    border-radius: 8px;
    width: 342px;
    position: relative;
    left: 50px;
    bottom: 130px;
}

.year-experience h2{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
}

.year-experience p{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}


 /* mobile device responsibe */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
        margin: 0px 20px 0px 0px;
    }
    nav{
        flex-direction: column;
        
    }
    .brand-banner img {
        width: 100%;
    }
    nav ul li {
        margin: 0px 20px 0px 0px ;
    }
} 



@media screen and (min-width: 577px) and (max-width: 960px) {
    .navbar{
        flex-direction: column;
    }
    nav {
        flex-direction: column;
    }
    
    .brand-banner img {
        width: 100%;
    }
}

